XML_Schema/scheme_normal.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="address">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="name">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="title" type="xsd:string" />
                            <xsd:element name="first-name" type="xsd:string" />
                            <xsd:element name="last-name" type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="street" type="xsd:string" />
                <xsd:element name="city" type="xsd:string" />
                <xsd:element name="state">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:length value="2"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element name="postal-code">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:pattern value="[0-9]{5}(-[0-9]{4})?"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
